{% extends "main.html" %}

{% block content %}
{% include "header.html" %}
{% include "catalog_header.html" %}
<div style="width:400px;margin:0 auto;">
    <a href="{{url_for('create_catagory', catalog_id=catalog.id)}}"><button>Create new Catagory</button></a> &nbsp; &nbsp; 
    <a href="{{url_for('delete_catalog', catalog_id=catalog.id)}}"><button>Delete Catalog</button></a>
</div>
<br>
<hr>
<table style="width:930px;margin:0 auto;">
{% for catagories in get_catagory_rows(catalog.id) %}
<tr>
{% if len(catagories) %}
<td style="width:33%;text-align:center;">
    <a href="#">
        {% if catagories[0].catagory_image %}
        <div style="width:300px;height:300px;background-image:url({{url_for('uploaded_file', filename=catagories[0].catagory_image)}});background-size:100%;">
        </div>
        {% else %}
        <div style="width:300px;height:300px;background-color:#dddddd;">
        {{catagories[0].name}}
        </div>
        {%endif%}
        <br>
        <strong>{{catagories[0].name}}</strong><br>
        {{catagories[0].description}}
    </a>
</td>
{% endif %}
{% if len(catagories) > 1%}
<td style="width:33%;text-align:center;">
    <a href="#">
        {% if catagories[1].catagory_image %}
        <div style="width:300px;height:300px;background-image:url({{url_for('uploaded_file', filename=catagories[1].catagory_image)}});background-size:100%;">
        </div>
        {% else %}
        <div style="width:300px;height:300px;background-color:#dddddd;">
        </div>
        {%endif%}
        <br>
        <strong>{{catagories[1].name}}</strong><br>
        {{catagories[1].description}}
    </a>
</td>
{% else %}
<td style="width:33%;"></td>
{% endif %}
{% if len(catagories) > 2 %}
<td style="width:33%;text-align:center;">
    <a href="#">
        {% if catagories[2].catagory_image %}
        <div style="width:300px;height:300px;background-image:url({{url_for('uploaded_file', filename=catagories[2].catagory_image)}});background-size:100%;">
        </div>
        {% else %}
        <div style="width:300px;height:300px;background-color:#dddddd;">
        </div>
        {%endif%}
        <br>
        <strong>{{catagories[2].name}}</strong><br>
        {{catagories[2].description}}
    </a>
</td>
{% else %}
<td style="width:33%;"></td>
{% endif %}
</tr>
{% endfor %}
</table>

{% endblock %} 

