<a href="{{url_for('show_categories', catalog_id=catalog.id)}}" class="no-link-decorations">
<div class="catalog-image">
    {% if catalog.header_image %}
    <img src="{{url_for('uploaded_file', filename=catalog.header_image)}}" id="catalog_{{catalog.name}}">
    {% else %}
    <div style="background-color: grey;height:200px;" id="catalog_{{catalog.name}}">&nbsp;</div>
    {% endif %}
    <div class="catalog-text">
    <span>
        Catalog: {{catalog.name}}<div class="spacer"></div><br>
        <div class="spacer"></div>{% if catalog.public %} Public {% else %} Private {% endif %} Catalog
        {% if catalog.user_id == session.get('user_id') %} | Owned by you {% endif %}
    </span>
    </div>
</div>
</a>

