<a href="{{url_for('show_catagories', catalog_id=catalog.id)}}" class="no-link-decorations">
<div class="jumbotron full-width" style="{% if catalog.header_image %}background-image:url({{url_for('uploaded_file', filename=catalog.header_image)}});{% endif %}" id="catalog_{{catalog.name}}">
    <h1>{% if catalog %}<div class="catalog-header">Catalog: {{catalog.name}}</div>{% endif %}</h1>
    <div class="catalog-header">{% if catalog.public %} Public {% else %} Private {% endif %} Catalog 
    {% if catalog.user_id == session.get('user_id') %} | Owned by you {% endif %}</div>
    </div>
</div>
</a>
