<a href="{{url_for('show_items', category_id=category.id)}}" class="no-link-decorations">
<table><tr>
<td>
    {% if category.category_image %}
    <!--<div style="border:1px solid black;width:100px;height:100px;background-image:url({{url_for('uploaded_file', filename=category.category_image)}});background-size:100%;background-repeat:no-repeat;"></div>-->
    <img class="width-1 height-1" src="{{url_for('uploaded_file', filename=category.category_image)}}">
    {% else %}
    <div style="border:1px solid black;width:100px;height:100px;background-color:#DDDDDD;background-size:100%;background-repeat:no-repeat;">{{category.name}}</div>
    {% endif %}
</td><td>
    <h1 style="padding-left:20px;">Category: {{category.name}}</h1>
</td>
</tr></table>
</a>

