{% extends "main.html" %}

{% block content %}
{% include "header.html" %}
{% include "catalog_header.html" %}

<div class="width-4 center">
    {% if category %}
    <h1>Edit category {{category.name}}</h1>
    {% else %}
    <h1>Create new Category</h1>
    {% endif %}
</div>

<div class="width-6 center">
  <form method="post" enctype="multipart/form-data" action="{% if category %}{{url_for('edit_category', category_id=category.id)}}{% else %}{{url_for('create_category', catalog_id=catalog.id)}}{%endif%}">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label" style="display:inline;">Category Name:</label>
      <input class="form-control" id="name" name="name" type="text" style="display:inline;" class="width-4" value="{% if name %}{{name}}{% elif category %}{{category.name}}{% else %}{%endif%}">
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label" style="display:inline;">Description:</label>
      <textarea class="form-control" id="description" name="description" type="text" rows="10">{% if description %}{{description}}{% elif category %}{{category.description}}{%else%}{%endif%}</textarea>
    </div>
    <div class="form-group">
      {% if category and category.category_image %}
      <img style="width:30px;height:30px;display:inline;" src="{{url_for('uploaded_file', filename=category.category_image)}}">
      {% endif %}
      <label for="image" class="col-sm-3 control-label" style="display:inline;">Category Image: (300px X 300px)</label>
      <input id="image" name="image" type="file" style="display:inline;">
      {% if category and category.category_image %}
      <input type="checkbox" name="delete_image" id="delete_image" {% if delete_image %}checked{% endif %}> Delete Image
      {% endif %}
    </div>
    <br>
    <div class="form-group" class="width-1 center">
      <h3>
      <input type="submit" value="{% if category %}Update{% else %}Create{% endif %}" style="display:inline;"> &nbsp; &nbsp;
      <a href="{{url_for('show_categories', catalog_id=catalog.id)}}"><button style="display:inline;">Cancel</button></a>
      </h3>
    </div>
  </form>
</div>

{% endblock %}

