{% extends "main.html" %}

{% block content %}
{% include "header.html" %}

<div class="jumbotron">
    <h1>Create new Catalog</h1>
</div>

<div style="margin:0 auto;width:600px;">
  <form method="post" enctype="multipart/form-data" action="{{url_for('create_catalog')}}">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label" style="display:inline;">Catalog Name:</label>
      <input class="form-control" id="name" name="name" type="text" style="display:inline;width:400px;" value="{% if name %}{{name}}{%endif%}">
    </div>
    <div class="form-group">
      <label for="header_image" class="col-sm-3 control-label">Catalog Image:</label>
      <input id="header_image" name="header_image" type="file">
    </div>
    <div class="form-group">
      <input type="checkbox" name="public"><label for="name" class="col-sm-3 control-label"> Public Catalog?</label>
    </div>
    <div class="form-group">
      <input type="submit" value="Create">
    </div>
  </form>
</div>

{% endblock %}

