<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><a class="navbar-brand" href="{{url_for('show_catalogs')}}">Item Catalog</a></span>
      {% if 'user_id' in session %}
        <span class="icon-bar"><a href="{{url_for('disconnect')}}">Logout</a></span>
        <span class="icon-bar"><a href="{{url_for('user_catalogs')}}">My Catalogs</a></span>
      {% else %}
        <span class="icon-bar"><a href="{{url_for('login')}}">Login</a></span>
      {% endif %}
      </button>
      <a class="navbar-brand" href="{{url_for('show_catalogs')}}">Item Catalog</a><!-- Branding -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('show_catalogs')}}">View Catalogs</a></li>
        <li roll="presentation" {% if 'user_id' in session %}class="enabled"{% else %}class="disabled"{% endif %}><a href="{{url_for('user_catalogs')}}">My Catalogs</a></li>
        <li><a href="{{url_for('create_catalog')}}">Create new Catalog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <!--border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;-->
          {% if 'user_id' in session %}<img src="{{session['picture']}}" {% if session['provider']=='google' %}style="width:32px;height:32px;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;" {% else %} style="width:32px;height:32px" {% endif %}/> {{session['username']}}{% else %}Account{% endif %}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% if 'user_id' in session %}
            <li role="presentation" class="disabled"><a href="{{url_for('login')}}">Login</a></li> 
            <li role="presentation" class="enabled"><a href="{{url_for('disconnect')}}">Logout</a></li> 
          {% else %}
            <li role="presentation" class="enabled"><a href="{{url_for('login')}}">Login</a></li> 
            <li role="presentation" class="disabled"><a href="{{url_for('disconnect')}}">Logout</a></li> 
          {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% include "flash_messages.html" %}
